<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- tartalom -->
      <div class="row mt-5">
        <div class="col-8 offset-2">

          <!-- kártya -->
          <div class="card mb-3 hidden-background">
            <div class="card-header bg-danger text-white fs-5">Hiba: a fájl mérete túllépte a megengedett maximumot</div>
            <div class="card-body text-danger">
              A hidden fájl mentése nem lehetséges, mert túllépted a fájl méretre vonatkozó korlátozást.<br/>
              Fájl mérete: <span th:text="${fileSize}"></span> bájt.<br/>
              <div class="fw-bold">
                Megengedett maximális méret: 
                <span th:text="${maxInByte}"></span> bájt 
                (<span th:text="${maxInText}"></span>).
              </div>
              <div class="text-success mt-3">
                <div class="fw-bold">
                  A probléma megoldásai:
                </div>
                <ul style="margin-bottom: 0">
                  <li>A hidden fájlban lévő bejegyzéseket szedd szét több fájlra, így azok méretei kisebbek lesznek.</li>
                  <li>Ellenőrizd, hogy minden bejegyzésre szükség van-e, és töröld a felesleges bejegyzéseket.</li>
                  <li>Fordulj a hidden adminisztrátorhoz (HAD).</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end: kártya -->

        </div>
      </div>
      <!-- end: tartalom -->

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
