<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- timestamp -->
      <div class="row mb-2">
        <div class="col">
          <div>Timestamp:</div>
          <div class="text-danger" th:text="${#dates.format(errorData.timestamp, 'yyyy.MM.dd HH:mm:ss')}"></div>
        </div>
      </div>

      <!-- status -->
      <div class="row mb-2">
        <div class="col">
          <div>Http status:</div>
          <div class="text-danger" th:text="${errorData.status}"></div>
        </div>
      </div>

      <!-- error -->
      <div class="row mb-2">
        <div class="col">
          <div>Http error:</div>
          <div class="text-danger" th:text="${errorData.error}"></div>
        </div>
      </div>

      <!-- message -->
      <div class="row mb-2">
        <div class="col">
          <div>Message:</div>
          <div class="text-danger" th:text="${errorData.message}"></div>
        </div>
      </div>

      <!-- path -->
      <div class="row mb-2">
        <div class="col">
          <div>Path:</div>
          <div class="text-danger" th:text="${errorData.path}"></div>
        </div>
      </div>

      <!-- trace -->
      <div class="row mb-2">
        <div class="col">
          <div>Trace:</div>
          <div class="text-danger" style="white-space: pre-wrap;" th:text="${errorData.trace}"></div>
        </div>
      </div>

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
