<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">
    
      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- tartalom -->
      <div class="row mt-5">
        <div class="col-8 offset-2">

          <!-- kártya -->
          <div class="card mb-3 hidden-background">
            <div class="card-header bg-danger text-white fs-5">Hiba: a fájlok darabszáma elérte a megengedett maximumot</div>
            <div class="card-body text-danger">
              A hidden fájl mentése nem lehetséges, mert elérted a fájlok darabszámára vonatkozó korlátozást.<br/>
              Aktuális fájl: <span th:text="${actualUnit}"></span><br/>
              Régi fájl: <span th:text="${oldUnit}"></span><br/>
              Összes fájl: <span th:text="${allUnit}"></span>
              <div class="fw-bold">
                Megengedett maximális darabszám: <span th:text="${maximumUnit}"></span>
              </div>
              <div class="text-success mt-3">
                <div class="fw-bold">
                  A probléma megoldásai:
                </div>
                <ul style="margin-bottom: 0">
                  <li>Törölj a régi hidden fájlokból. Esetleg az aktuálisokból, melyekre már nincs szükség.</li>
                  <li>Fordulj a hidden adminisztrátorhoz (HAD).</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end: kártya -->

        </div>
      </div>
      <!-- end: tartalom -->

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
