<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- tartalom -->
      <div class="row">
        <div class="col-4">
          <div class="list-group mb-3">

            <!-- fájlok letöltése saját gépre -->
            <a th:href="@{/file/download}" 
               target="_blank" 
               class="list-group-item list-group-item-action list-group-item-success">
              Fájlok letöltése saját gépre
            </a>

            <!-- fájlok törlése -->
            <a th:href="@{/file/delete}" 
               class="list-group-item list-group-item-action list-group-item-warning">
              Fájlok törlése
            </a>

            <!-- figyelmeztetések -->
            <a th:href="@{/file/warning (visible = true)}" 
               class="list-group-item list-group-item-action list-group-item-danger">
              Figyelmeztetések
            </a>
            
          </div>
        </div>
      </div>

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
