<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- általános tájékoztató 1 -->
      <div class="row">
        <div class="col-8">
          <div class="alert alert-success">
            Add meg egy aktuális hidden fájl jelszavát.<br/>
            Ha csak régi hidden fájl létezik, akkor egy réginek a jelszavát.<br/> 
          </div>
        </div>
      </div>

      <!-- általános tájékoztató 2 -->
      <div class="row mb-3">
        <div class="col-8">
          <div class="alert alert-success">
            A szöveges jelszó 16 - 64 karakter lehet.<br/>
            A hexadecimális jelszó 32 - 64 karakter lehet (páros karakterszám),<br/> 
            a következő karakterekből összeállítva: 0-9, a-f, A-F 
          </div>
        </div>
      </div>

      <!-- form -->
      <form th:object="${form}" th:action="@{/login/password}" method="post">

        <!-- jelszó típusa -->                
        <div class="row mb-3">
          <div class="col">
            <label class="form-label xesjslib-required">Jelszó típusa:</label>
            <div>
              <th:block th:each="option : ${typeOptions}">
                <input type="radio" th:field="*{tipus}" th:value="${option.value}" class="form-check-input"/>
                <label th:for="${#ids.prev('tipus')}" th:text="${option.display}" class="form-check-label text-muted me-4"/>
                <br/>
              </th:block>
            </div>
            <div th:if="${#fields.hasErrors('tipus')}" th:errors="*{tipus}" class="invalid-feedback"></div>                    
          </div>
        </div>

        <!-- jelszó -->                
        <div class="row mb-3">
          <div class="col-8">
            <label class="form-label xesjslib-required">Jelszó:</label>
            <input type="password" 
                   th:field="*{jelszo}" 
                   class="form-control text-muted"
                   th:errorclass="is-invalid"
                   maxlength="64" 
                   autofocus=""/>
            <div th:if="${#fields.hasErrors('jelszo')}" th:errors="*{jelszo}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- global error -->
        <div th:if="${#fields.hasGlobalErrors()}" class="row mb-3">
          <div class="col">
            <th:block th:insert="~{/include/global-error.html :: main}"></th:block>
          </div>
        </div>
        
        <!-- gombsor -->                
        <div class="row mb-3">
          <div class="col-auto">
            <button class="btn btn-primary mr-2">Rendben</button>
          </div>
        </div>

      </form>
      <!-- end: form -->

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
