<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- tartalom -->
      <div class="row">
        <div class="col-auto text-success">
          <th:block th:insert="~{/include/svg/database-lock.html :: main ('5.5em')}"></th:block>
        </div>
        <div class="col text-success fs-6">
          A fájlok lezárása megtörtént.<br/>
          Jelszavakat a rendszer nem tárol.<br/>
          Az adatok biztonságban vannak.<br/>
          Ez az oldal azért jelent meg, mert a "kilépés" linkre kattintottál,
          vagy <span th:text="${timeout}"></span> percig nem használtad a rendszert. 
        </div>
      </div>
      
      <!-- elválasztó -->
      <hr/>

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
