<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- megnyitott fájl -->
      <div class="row">
        <div class="col">
          <th:block th:insert="~{/include/opened-file.html :: main}"></th:block>
        </div>
      </div>

      <!-- bejegyzés -->
      <div class="row">
        <div th:text="${noteName}" class="col fs-5 text-success"></div>
      </div>

      <!-- elválasztó -->
      <hr/>    

      <!-- bejegyzés szövege -->
      <div style="font-family: JetBrains;">
        <div th:each="noteRow: ${noteRows}" th:utext="${noteRow.text}" th:class="${noteRow.css}"></div>
      </div>
      
      <!-- elválasztó -->
      <hr/>    

      <!-- gombok -->
      <div class="row mb-3" th:if="${@mainSession.isOpenedActual()}">
        <div class="col-auto me-auto">
          <a th:href="@{/note/update (note = ${noteName})}" class="btn btn-primary">Módosítás</a>
        </div>
        <div class="col-auto">
          <a th:href="@{/note/delete (note = ${noteName})}" 
             data-confirm="Valóban törölni akarod a bejegyzést?"
             class="btn btn-danger">Törlés</a>
        </div>
      </div>

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
