<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- megnyitott fájl -->
      <div class="row align-items-center">
        <div class="col-auto">
          <th:block th:insert="~{/include/opened-file.html :: main}"></th:block>
          <!-- fájlnév, jelszó módosítása -->
          <a th:href="@{/file/property}" th:if="${editable}" class="text-primary">
            <th:block th:insert="~{/include/svg/pencil-square.html :: main ('1em')}"></th:block>
          </a>
        </div>
      </div>

      <!-- elválasztó -->
      <hr/>

      <!-- keresés form -->
      <form th:action="@{/note/list}" th:object="${form}" method="post">
        <div class="row align-items-center">
          <div class="col-auto">
            <label>Bejegyzés név:</label>
          </div> 
          <div class="col-4 ps-0">
            <input th:field="*{fragment}" type="text" maxlength="128" class="form-control text-muted" autofocus=""/>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-primary" name="submit" value="KERESES">Keresés</button>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-secondary" name="submit" value="TORLES">Törlés</button>
          </div>
        </div>
      </form>
      <!-- end: keresés form -->

      <!-- elválasztó -->
      <hr/>

      <!-- bejegyzések -->
      <div class="text-success mb-1">
        <span>Bejegyzések</span>
        <a th:href="@{/note/update}" th:if="${editable}" class="text-success">
          <th:block th:insert="~{/include/svg/plus-square.html :: main ('1em')}"></th:block>
        </a>
      </div>
      <div th:unless="${#lists.isEmpty(notes)}" class="list-group mb-3">
        <a th:each="note: ${notes}" 
           th:href="@{/note/view (note = ${note})}" 
           th:text="${note}"
           class="list-group-item list-group-item-action list-group-item-success fs-5">
        </a>
      </div>
      <div th:if="${#lists.isEmpty(notes)}" class="text-muted mb-3">Nincs találat!</div>

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
