<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- megnyitott fájl -->
      <div class="row">
        <div class="col">
          <th:block th:insert="~{/include/opened-file.html :: main}"></th:block>
        </div>
      </div>
      
      <!-- elválasztó -->
      <hr/>    

      <!-- form -->
      <form th:action="@{/note/update}" th:object="${form}" method="post">

        <!-- bejegyzés eredeti neve -->
        <input type="hidden" th:field="*{noteNameOriginal}"/>

        <!-- bejegyzés neve -->
        <div class="row mb-3">
          <div class="col">
            <label class="form-label xesjslib-required">Bejegyzés neve:</label>
            <input type="text" 
                   th:field="*{noteName}" 
                   class="form-control text-muted"
                   th:errorclass="is-invalid"
                   maxlength="128" 
                   autofocus=""/>
            <div th:if="${#fields.hasErrors('noteName')}" th:errors="*{noteName}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- bejegyzés szövege -->
        <div class="row mb-3">
          <div class="col">
            <label class="form-label">Bejegyzés szövege:</label>
            <textarea th:field="*{noteText}" 
                      class="form-control fs-5 text-muted"
                      th:errorclass="is-invalid"
                      rows="15"
                      maxlength="65536"
                      style="font-family: JetBrains;"
                      data-xesjslib-character-counter-id="noteTextCounter">
            </textarea>
            <div id="noteTextCounter" class="text-secondary text-end"></div>
            <div th:if="${#fields.hasErrors('noteText')}" th:errors="*{noteText}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- global error -->
        <div th:if="${#fields.hasGlobalErrors()}" class="row mb-3">
          <div class="col">
            <th:block th:insert="~{/include/global-error.html :: main}"></th:block>
          </div>
        </div>
        
        <!-- gombsor -->
        <div class="row mb-3" th:if="${@mainSession.isOpenedActual()}">
          <div class="col-auto me-auto">
            <button class="btn btn-primary">
              Rendben
            </button>
          </div>
          <div class="col-auto">
            <a th:if="*{noteNameOriginal == null}" th:href="@{/note/list}" 
               class="btn btn-secondary">
              Mégsem
            </a>
            <a th:unless="*{noteNameOriginal == null}" th:href="@{/note/view (note = *{noteNameOriginal})}" 
               class="btn btn-secondary">
              Mégsem
            </a>
          </div>
        </div>

      </form>
      <!-- end: form -->

      <!-- speciális jelölések -->
      <div class="accordion mb-3" id="accordionSJ">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed text-muted" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#collapse1">
              <span class="text-success">Speciális jelölések a bejegyzés szövegben</span>
            </button>
          </h2>
          <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionSJ">
            <div class="accordion-body">
              <ul class="mb-0">
                <li>
                  Ha egy sort ki szeretnél emelni a szövegből "magasabb" szinten,
                  akkor a sort ezzel kell kezdeni:
                  <code class="text-danger">=====&gt;</code>
                </li>
                <li>
                  Ha egy sort ki szeretnél emelni a szövegből "alacsonyabb" szinten, 
                  akkor a sort ezzel kell kezdeni:
                  <code class="text-danger">-----&gt;</code>
                </li>
                <li>
                  Ha kattintható linket szeretnél elhelyezni a szövegben, 
                  akkor dupla kapcsos zárójelek közé kell tenni:
                  <code class="text-danger">{{...}}</code>
                </li>
                <li>
                  A linkek általában "http://" vagy "https://" kezdetűek, 
                  ezek használata is szükséges, például: 
                  <code class="text-danger">{{https://spring.io}}</code>
                </li>
                <li>
                  Ha a link email címet tartalmaz, akkor a "mailto:" szöveggel kell kezdeni, 
                  például:   
                  <code class="text-danger">{{mailto:spring@gmail.com}}</code>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end: speciális jelölések -->

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>
    <script type="module" th:src="@{/static/js/xesjslib/character-counter.js}"></script>

  </body>
</html>
