/*******************************************************************************************************************************
 *
 * A xesjslib használatához szükséges css
 *
 ******************************************************************************************************************************/

/**
 * Hibaüzenetek megjelenítése mindig, függetlenül attól, 
 * hogy a form mezőhöz az "is-invalid" osztály hozzá van-e rendelve.
 * Felülírja a bootstrap beállítást!
 */
.invalid-feedback {
  display: block !important;
}

/** 
 * Kötelező input mező jelzése 
 */
.xesjslib-required::after {
  content: '*';
  color: var(--bs-red); /* = text-danger */
  padding-left: 5px;
}

/** Date picker ***************************************************************************************************************/

.xesjslib-date-picker {
  width: 256px;
  text-align: center;
  user-select: none;
  outline: none;
  z-index: 8;
}

.xesjslib-date-picker th {
  width: 14.3%; 
  background-color: #f4f4f4;
}  

.xesjslib-date-picker .passive {
  cursor: default;
}  

.xesjslib-date-picker .active {
  cursor: pointer;
}  

.xesjslib-date-picker .active:hover {
  background-color: #f4f4f4;
}  

/******************************************************************************************************************************/