<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
  </head>
  <body spellcheck="false">
    <th:block th:fragment="main">
      <!------------------------------------------------------------------------------------------------ include body header --> 

      <!-- rendszer információk -->
      <div style="display: none;">
        <div id="contextPath" th:text="${@property.contextPath}"></div>
        <div id="sessionTimeout" th:text="${@mainApplication.getSessionTimeout(-5)}"></div>
        <div id="logoutPath" th:text="${@mainApplication.getLogoutPath()}"></div>
        <div id="pingPath" th:text="${@mainApplication.getPingPath()}"></div>
      </div>
      
      <!-- legfelső sor -->
      <div class="row align-items-center text-white py-1" style="background-color: #6f42c1;">

        <!-- oldal címe -->
        <div class="col-auto" th:text="${pageTitle}"></div>

        <!-- placeholder -->
        <div class="col"></div>

        <!-- programnév, verzió, build time -->
        <div class="col-auto">
          <span th:text="${@property.programName}"></span> 
          <span th:text="${@buildProperties.getVersion}"></span>
          / 
          <span th:text="${#temporals.format(@buildProperties.getTime, 'uuuu.MM.dd HH:mm')}"></span>
        </div>

      </div>

      <!-- menüsor (ha be van jelentkezve) -->
      <th:block th:if="${@mainSession.isLogged()}">
        <div class="row align-items-center my-2">

          <!-- fájlok -->
          <div class="col-auto">
            <a th:href="@{/file/list}" class="text-primary">
              <th:block th:insert="~{/include/svg/files.html :: main ('2em')}"></th:block>
            </a>
          </div>

          <!-- bejegyzések (ha van nyitott fájl) -->
          <div th:if="${@mainSession.hasOpenedFile()}" class="col-auto">
            <a th:href="@{/note/list}" class="text-success">
              <th:block th:insert="~{/include/svg/card-list.html :: main ('2em')}"></th:block>
            </a>    
          </div>

          <!-- adminisztráció -->
          <div class="col-auto">
            <a th:href="@{/admin}" class="text-secondary">
              <th:block th:insert="~{/include/svg/gear.html :: main ('2em')}"></th:block>
            </a>    
          </div>

          <!-- placeholder -->
          <div class="col"></div>

          <!-- lezárás -->
          <div class="col-auto">
            <a th:href="@{/logout}">
              <span class="text-danger fs-4 logoutTime"></span>
            </a>    
          </div>
        </div>

        <!-- elválasztó -->
        <hr style="margin-top: 0;"/>

      </th:block>
      <!-- end: menüsor -->

      <!-- alsó margó (ha nincs bejelentkezve) -->
      <div th:unless="${@mainSession.isLogged()}" class="row mb-3"></div>
      
      <!-- logout modal -->
      <div class="modal fade" id="logoutModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-title text-danger">
                Kilépés &#10140; <span class="logoutTime"></span>
              </div>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Tovább</button>
            </div>
          </div>
        </div>
      </div>

      <!-- confirm modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header text-muted fs-5">Figyelem!</div>
            <div class="modal-body text-muted"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary px-4 mr-2" data-bs-dismiss="modal">Igen</button>
              <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">Nem</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- error display -->
      <span id="error-display" data-xesjslib-error-display="block" style="display: none;" 
            title="A konzolban (F12) látható hibát jelezze a fejlesztőknek!">
        javascript error: <span data-xesjslib-error-display-counter></span>
      </span>  

      <!------------------------------------------------------------------------------------------- end: include body header --> 
    </th:block>
  </body>
</html>