<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:fragment="main">
      <!----------------------------------------------------------------------------------------------------- include header --> 

      <!-- meta --> 
      <meta charset="UTF-8"/>

      <!-- title --> 
      <title th:text="${@property.getProgramName()}"/>

      <!-- favorite icon --> 
      <link rel="icon" type="image/png" th:href="@{/static/image/favicon.png}"/>

      <!-- boootstrap css --> 
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"/>

      <!-- xesjslib main.css --> 
      <link rel="stylesheet" th:href="@{/static/js/xesjslib/main.css}"/>

      <!-- app.css --> 
      <link rel="stylesheet" th:href="@{/static/css/app.css}"/>

      <!------------------------------------------------------------------------------------------------ end: include header --> 
    </th:block>
  </head>
  <body spellcheck="false">
  </body>
</html>