<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
  </head>
  <body spellcheck="false">
    <th:block th:fragment="main">
      <!------------------------------------------------------------------------------------------------ include opened file --> 

      <span th:text="${@mainSession.openedFile.baseName}" class="text-primary fs-5"></span>
      <span th:text="${@mainSession.openedFile.formattedDate}" class="text-muted small"></span>

      <!------------------------------------------------------------------------------------------- end: include opened file --> 
    </th:block>
  </body>
</html>