/** 
 * Alkalmazás saját css 
 */

/* Általános beállítások */

body {
  background-color: lightgray;
}

a {
  text-decoration: none;
}

/* Konténer */
.container {
  background-color: #f0f0f0; 
  min-height: 100vh;
  min-width: 1024px;
  display: flow-root;
} 

/* Bejegyzés sor */
.note-row {
  white-space: pre-wrap;
  min-height: 1em;
  border-radius: 5px;
}

/* Error display */
#error-display {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: red; 
  color: white; 
  padding: 3px 5px; 
  border-radius: 3px;
  font-size: 12px;
}

/* JetBrains font */
@font-face {
  font-family: JetBrains;
  font-style: normal;
  src: url('../font/JetBrainsMonoNL-Regular.ttf') format('truetype');
}

/**
 * End 
 */