<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- form -->
      <form th:action="@{/file/list}" th:object="${form}" method="post">
        <div class="row align-items-center">
          <div class="col-auto">
            <label>Fájl név:</label>
          </div> 
          <div class="col-4 ps-0">
            <input th:field="*{fragment}" type="text" maxlength="64" class="form-control text-muted" autofocus=""/>
          </div>
          <div class="col-auto">
            <label for="old">Régi fájlok:</label>
          </div> 
          <div class="col-auto ps-0">
            <input th:field="*{old}" type="checkbox" class="form-check-input" id="old"/>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-primary" name="submit" value="KERESES">Keresés</button>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-secondary" name="submit" value="TORLES">Törlés</button>
          </div>
        </div>
      </form>
      <!-- end: form -->

      <!-- elválasztó -->
      <hr/>

      <!-- aktuális fájlok -->
      <div class="text-primary mb-1">
        <span>Aktuális fájlok</span>
        <a th:href="@{/file/create}">
          <th:block th:insert="~{/include/svg/plus-square.html :: main ('1em')}"></th:block>
        </a>
      </div>
      <div th:unless="${#lists.isEmpty(actualFiles)}" class="list-group mb-3">
        <a th:each="hf: ${actualFiles}" 
           th:href="@{/file/open (file = ${hf.name}, actual = ${hf.actual})}" 
           class="list-group-item list-group-item-action list-group-item-primary">
          <span th:if="${hf.isOpened()}">&#10140;</span>
          <span th:text="${hf.baseName}" class="fs-5"></span>
          <span th:text="${hf.formattedDate}" class="text-muted small"></span>
        </a>
      </div>
      <div th:if="${#lists.isEmpty(actualFiles)}" class="text-muted mb-3">Nincs találat!</div>
      <!-- end: aktuális fájlok -->

      <!-- régi fájlok -->
      <th:block th:if="${oldFiles}">
        <div class="text-primary mb-1">Régi fájlok</div>
        <div th:unless="${#lists.isEmpty(oldFiles)}" class="list-group mb-3">
          <a th:each="hf: ${oldFiles}" 
             th:href="@{/file/open (file = ${hf.name}, actual = ${hf.actual})}" 
             class="list-group-item list-group-item-action list-group-item-primary">
            <span th:if="${hf.isOpened()}">&#10140;</span>
            <span th:text="${hf.baseName}" class="fs-5"></span>
            <span th:text="${hf.formattedDate}" class="text-muted small"></span>
          </a>
        </div>
        <div th:if="${#lists.isEmpty(oldFiles)}" class="text-muted mb-3">Nincs találat!</div>
      </th:block>
      <!-- end: régi fájlok -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
