<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- megnyitott fájl -->
      <div class="row">
        <div class="col">
          <span th:text="${hiddenFile.baseName}" class="text-primary fs-5"></span>
          <span th:text="${hiddenFile.formattedDate}" class="text-muted small"></span>
        </div>
      </div>

      <!-- elválasztó -->
      <hr/>

      <!-- általános tájékoztató -->
      <div class="row mb-3">
        <div class="col-8">
          <div class="alert alert-success">
            A szöveges jelszó 16 - 64 karakter lehet.<br/>
            A hexadecimális jelszó 32 - 64 karakter lehet (páros karakterszám),<br/> 
            a következő karakterekből összeállítva: 0-9, a-f, A-F 
          </div>
        </div>
      </div>

      <!-- form -->
      <form th:object="${form}" th:action="@{/file/open}" method="post">

        <!-- rejtett mezők -->
        <input th:field="*{file}" type="hidden"/>
        <input th:field="*{actual}" type="hidden"/>

        <!-- jelszó típusa -->                
        <div class="row mb-3">
          <div class="col">
            <label class="form-label xesjslib-required">Jelszó típusa:</label>
            <div>
              <th:block th:each="option : ${typeOptions}">
                <input type="radio" th:field="*{tipus}" th:value="${option.value}" class="form-check-input"/>
                <label th:for="${#ids.prev('tipus')}" th:text="${option.display}" class="form-check-label me-4 text-muted"/>
                <br/>
              </th:block>
            </div>
            <div th:if="${#fields.hasErrors('tipus')}" th:errors="*{tipus}" class="invalid-feedback"></div>                    
          </div>
        </div>

        <!-- jelszó -->                
        <div class="row mb-3">
          <div class="col-8">
            <label class="form-label xesjslib-required">Jelszó:</label>
            <input type="password" 
                   th:field="*{jelszo}" 
                   class="form-control text-muted"
                   th:errorclass="is-invalid"
                   maxlength="64" 
                   autofocus=""/>
            <div th:if="${#fields.hasErrors('jelszo')}" th:errors="*{jelszo}" class="invalid-feedback"></div>
          </div>
        </div>
        
        <!-- global error -->
        <div th:if="${#fields.hasGlobalErrors()}" class="row mb-3">
          <div class="col">
            <th:block th:insert="~{/include/global-error.html :: main}"></th:block>
          </div>
        </div>

        <!-- gombsor -->                
        <div class="row mb-3">
          <div class="col-auto">
            <button class="btn btn-primary mr-2">Rendben</button>
          </div>
        </div>

      </form>
      <!-- end: form -->

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
