<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>
      
      <!-- minden rendben, nincs figyelmeztetés -->
      <div th:if="${!unitWarning && !sizeWarning}" class="alert alert-success">
        Minden rendben, nincsenek neked szóló figyelmeztetések.
      </div>

      <!-- figyelmeztetés a fájlok darabszáma miatt -->
      <div th:if="${unitWarning}" class="alert alert-danger">
        <b>A hidden fájlok száma a maximális darabszám [[${warningLimit}]]%-át elérte.</b><br/>
        Összes hidden fájl: [[${unit}]] (ebből [[${unitActual}]] aktuális, [[${unitOld}]] régi).
      </div>

      <!-- figyelmeztetés a fájlok mérete miatt -->
      <div th:if="${sizeWarning}" class="alert alert-danger">
        <b>A felsorolt aktuális fájlok mérete a maximális méret [[${warningLimit}]]%-át elérte.</b>
        <ul style="margin-bottom: 0;">            
          <li th:each="sizeDetail: ${sizeFiles}">
            [[${sizeDetail.baseName}]] &#10140; [[${sizeDetail.percent}]]%
          </li>
        </ul>
      </div>

      <!-- általános információk -->
      <div class="alert alert-secondary">
        <b>Rád vonatkozó korlátozások:</b>
        <ul>
          <li>
            Hidden fájlok maximális száma: [[${ticketUnit}]]
          </li> 
          <li>
            Hidden fájl maximális mérete: [[${ticketSizeByte}]] bájt ([[${ticketSizeText}]]).
          </li>
        </ul>
        <b>A korlátozás miatt fellépő problémák megoldásai:</b>
        <ul style="margin-bottom: 0;">
          <li>Törölj a régi hidden fájlokból. Esetleg az aktuálisokból, melyekre már nincs szükség.</li>
          <li>A hidden fájlban lévő bejegyzéseket szedd szét több fájlra, így azok méretei kisebbek lesznek.</li>
          <li>Ellenőrizd, hogy minden bejegyzésre szükség van-e, és töröld a felesleges bejegyzéseket.</li>
          <li>Fordulj a hidden adminisztrátorhoz (HAD).</li>
        </ul>
      </div>

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
