<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>
      
      <!-- megnyitott fájl -->
      <div class="row">
        <div class="col">
          <th:block th:insert="~{/include/opened-file.html :: main}"></th:block>
        </div>
      </div>

      <!-- elválasztó -->
      <hr/>
      
      <!-- 1. tájékoztató -->
      <div class="row mb-3">
        <div class="col-8">
          <div class="alert alert-success">
            A fájl neve csak az angol a-z kisbetűkből, számjegyekből, és kötőjel karakterből állhat.<br/>
            Ha a fájl neve "<code class="text-danger">-salt0</code>" karakterekkel végződik, 
            akkor a fájl minden hidden-rendszerben használható lesz, de ezt csak szükség esetén használjuk, 
            mert kevésbé biztonságos!
          </div>
        </div>
      </div>

      <!-- 2. tájékoztató -->
      <div class="row mb-3">
        <div class="col-8">
          <div class="alert alert-success">
            A szöveges jelszó 16 - 64 karakter lehet.<br/>
            A hexadecimális jelszó 32 - 64 karakter lehet (páros karakterszám),<br/> 
            a következő karakterekből összeállítva: 0-9, a-f, A-F 
          </div>
        </div>
      </div>

      <!-- form -->
      <form th:object="${form}" th:action="@{/file/property}" method="post">
      
        <!-- fájl név kezdet -->                
        <div class="row mb-3">
          <div class="col-8">
            <label class="form-label">Új fájlnév. Csak akkor add meg, ha módosítani akarod a fájlnevet:</label>
            <input type="text" 
                   th:field="*{fajlnevKezdet}" 
                   class="form-control text-muted"
                   th:errorclass="is-invalid"
                   maxlength="64" 
                   autofocus=""/>
            <div th:if="${#fields.hasErrors('fajlnevKezdet')}" th:errors="*{fajlnevKezdet}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- jelszó típusa -->                
        <div class="row mb-3">
          <div class="col">
            <label class="form-label">Új jelszó típusa:</label>
            <div>
              <th:block th:each="option : ${typeOptions}">
                <input type="radio" th:field="*{jelszoTipus}" th:value="${option.value}" class="form-check-input"/>
                <label th:for="${#ids.prev('jelszoTipus')}" th:text="${option.display}" 
                       class="form-check-label me-4 text-muted"/>
                <br/>
              </th:block>
            </div>
            <div th:if="${#fields.hasErrors('jelszoTipus')}" th:errors="*{jelszoTipus}" class="invalid-feedback"></div>                    
          </div>
        </div>

        <!-- jelszó -->                
        <div class="row mb-3">
          <div class="col-8">
            <label class="form-label">Új jelszó. Csak akkor add meg, ha módosítani akarod a jelszót:</label>
            <input type="password" 
                   th:field="*{jelszo}" 
                   class="form-control text-muted"
                   th:errorclass="is-invalid"
                   maxlength="64"/>
            <div th:if="${#fields.hasErrors('jelszo')}" th:errors="*{jelszo}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- jelszó megismétlése -->                
        <div class="row mb-3">
          <div class="col-8">
            <label class="form-label">Új jelszó megismétlése. Csak akkor add meg, ha módosítani akarod a jelszót:</label>
            <input type="password" 
                   th:field="*{jelszo2}" 
                   class="form-control text-muted"
                   th:errorclass="is-invalid"
                   maxlength="64"/>
            <div th:if="${#fields.hasErrors('jelszo2')}" th:errors="*{jelszo2}" class="invalid-feedback"></div>
          </div>
        </div>
        
        <!-- global error -->
        <div th:if="${#fields.hasGlobalErrors()}" class="row mb-3">
          <div class="col">
            <th:block th:insert="~{/include/global-error.html :: main}"></th:block>
          </div>
        </div>
        
        <!-- gombsor -->                
        <div class="row mb-3">
          <div class="col-auto">
            <button class="btn btn-primary mr-2">Rendben</button>
          </div>
        </div>

      </form>
      <!-- end: form -->

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>
