<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body spellcheck="false">

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- form -->
      <form th:action="@{/file/delete}" th:object="${form}" method="post">

        <!-- keresés -->
        <div class="row align-items-center">
          <div class="col-auto">
            <label>Fájl név:</label>
          </div> 
          <div class="col-4 ps-0">
            <input th:field="*{fragment}" type="text" maxlength="64" class="form-control text-muted" autofocus=""/>
          </div>
          <div class="col-auto">
            <label for="old">Aktuális fájlok:</label>
          </div> 
          <div class="col-auto ps-0">
            <input th:field="*{actual}" type="checkbox" class="form-check-input" id="old"/>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-primary" name="submit" value="KERESES">Keresés</button>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-secondary" name="submit" value="TORLES">Törlés</button>
          </div>
        </div>
        <!-- end: keresés -->

        <!-- elválasztó -->
        <hr/>

        <!-- kijelölt fájlok törlése gomb -->
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-danger" name="submit" value="FAJLTORLES"
                    data-confirm="Valóban törölni akarod a kijelölt fájlokat?">
              Kijelölt fájlok törlése
            </button>
          </div>            
        </div>            

        <!-- elválasztó -->
        <hr/>

        <!-- törlendő aktuális fájlok -->
        <div class="row mb-1" th:if="${actualFiles}">
          <div class="col text-primary">
            Aktuális fájlok
          </div>
          <div class="col-auto pe-1">
            <label for="all1" class="me-1">Összes:</label>
          </div>
          <div class="col-auto ps-0">
            <input type="checkbox" class="form-check-input" id="all1">
          </div>
        </div>
        <div class="row mb-3" th:if="${actualFiles}">
          <div class="col">
            <ul class="list-group">
              <li th:each="hf: ${actualFiles}" class="list-group-item list-group-item-primary">
                <input type="checkbox" class="form-check-input align-baseline me-2 hidden-all1" 
                       th:field="*{tobedeleted}"
                       th:value="${hf.name} + '|' + ${hf.actual}"/>
                <label th:for="${#ids.prev('tobedeleted')}">
                  <span th:if="${hf.isOpened()}">&#10140;</span>
                  <span th:text="${hf.baseName}" class="fs-5"></span>
                  <span th:text="${hf.formattedDate}" class="text-muted small"></span>
                </label>
              </li>
            </ul>
            <div th:if="${#lists.isEmpty(actualFiles)}" class="text-muted">Nincs találat!</div>
          </div>
        </div>
        <!-- end: törlendő aktuális fájlok -->

        <!-- törlendő régi fájlok -->
        <div class="row mb-1">
          <div class="col text-primary">
            Régi fájlok
          </div>
          <div class="col-auto pe-1">
            <label for="all2" class="me-1">Összes:</label>
          </div>
          <div class="col-auto ps-0">
            <input type="checkbox" class="form-check-input" id="all2">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <ul class="list-group">
              <li th:each="hf: ${oldFiles}" class="list-group-item list-group-item-primary">
                <input type="checkbox" class="form-check-input align-baseline me-2 hidden-all2"
                       th:field="*{tobedeleted}"
                       th:value="${hf.name} + '|' + ${hf.actual}"/>
                <label th:for="${#ids.prev('tobedeleted')}">
                  <span th:if="${hf.isOpened()}">&#10140;</span>
                  <span th:text="${hf.baseName}" class="fs-5"></span>
                  <span th:text="${hf.formattedDate}" class="text-muted small"></span>
                </label>
              </li>
            </ul>
            <div th:if="${#lists.isEmpty(oldFiles)}" class="text-muted">Nincs találat!</div>
          </div>
        </div>
        <!-- end: törlendő régi fájlok -->

      </form>
      <!-- end: form -->

    </div>    
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>
    <script type="module" th:src="@{/static/js/file-delete.js}"></script>

  </body>
</html>
