<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>Test</title>
    <link rel="icon" type="image/png" th:href="@{/static/image/favicon.png}"/>
    <style type="text/css">
      body {
        font-family: monospace;
        font-size: 20px;
      }
      li {
        padding: 5px;
      }
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body spellcheck="false">
    <h3>Test page</h3>
    <ul>
      <li>
        Kezdőlap
      </li>
      <ul>
        <li>
          <a th:href="@{/}">Nincs ticket</a>
        </li>
        <li>
          <a th:href="@{/ (ticket = '0000-0000-0000-0000-0000-0000-0000-0000')}">
            ticket = 0000-0000-0000-0000-0000-0000-0000-0000 (üres)
          </a>
        </li>
        <li>
          <a th:href="@{/ (ticket = '1111-1111-1111-1111-1111-1111-1111-1111')}">
            ticket = 1111-1111-1111-1111-1111-1111-1111-1111 (feltöltött, jelszó: 64 darab "a")
          </a>
        </li>
        <li>
          <a th:href="@{/ (ticket = '2222-2222-2222-2222-2222-2222-2222-2222')}">
            ticket = 2222-2222-2222-2222-2222-2222-2222-2222 (érvénytelen)
          </a>
        </li>
      </ul>  
      <li>
        <a th:href="@{/file/list}">Fájlok</a>
      </li>
      <li>
        <a th:href="@{/note/list}">Bejegyzések</a>
      </li>
      <li>
        <a th:href="@{/admin}">Adminisztráció</a>
      </li>
      <li>
        <a th:href="@{/ping}">Ping</a>
      </li>
      <li>
        <a th:href="@{/logout}">Kilépés</a>
      </li>
      <li>
        Exception kiváltása
      </li>
      <ul>
        <li>
          <a th:href="@{/test (exception = 'hidden')}">HiddenException</a>
        </li>
        <li>
          <a th:href="@{/test (exception = 'unit')}">UnitException</a>
        </li>
        <li>
          <a th:href="@{/test (exception = 'filesize')}">FileSizeException</a>
        </li>
        <li>
          <a th:href="@{/test (exception = 'concurrent')}">ConcurrentException</a>
        </li>
        <li>
          <a th:href="@{/test (exception = 'arithmetic')}">ArithmeticException</a>
        </li>
      </ul>  
    </ul>
  </body>
</html>
